@model List<ResultProductDto>

<section id="courses" class="courses section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Ürünler</h2>
        <p>Popüler Ürünler</p>
    </div>

        <div class="container">

        <div class="coursesrow">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="course-item">
                        <img src="@item.CoverImage" class="coursimg-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <p class="category">   <td>@ViewBag.CategoryName[item.CategoryId]</td></p>
                                <p class="price">@item.Price</p>
                            </div>

                            <a href="/ProductDetail/Index/@item.ProductID">@item.Title</a>
                            <p class="description">@item.Description</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <a href="" class="category">Sepete Ekle</a>
                                </div>
                                <div class="trainer-rank d-flex align-items-center">
                                    <i class="bi bi-person user-icon"></i>&nbsp;@item.Rating
                                 

                                </div>

                            </div>

                        </div>

                    </div>

                </div> <!-- End Course Item-->
            }

            </div>

        </div>

</section><!-- /Courses Section -->,