@model ResultProductDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="/Shop/Index/">Shop</a></li>
                <li class="active">Product Detail</li>
            </ul>
        </div>
    </div>
</div>

<div class="content-wraper">
    <div class="container">
        <div class="row single-product-area">
            <div class="col-lg-5 col-md-6">
                <!-- Product Details Left -->
                <div class="product-details-left">
                    <div class="product-details-images slider-navigation-1">
                        <div class="lg-image">
                            <a class="popup-img venobox vbox-item" href="@Model.CoverImage" data-gall="myGallery">
                                <img src="@Model.CoverImage" alt="product image">
                            </a>
                        </div>

                    </div>

                </div>
                <!--// Product Details Left -->
            </div>

            <div class="col-lg-7 col-md-6">
                <div class="product-details-view-content pt-60">
                    <div class="product-info">
                        <h2>@Model.Title</h2>
                        <input type="hidden" value="@Model.ProductID" />
                        <div class="price-box pt-20">
                            <span class="new-price new-price-2">@Model.Price ₺</span>
                        </div>
                        <div class="product-desc">
                            <p>
                                <span>
                                    <p>Kategori:@ViewBag.CategoryName[Model.CategoryId] </p>
                                    <p>Ürün Açıklaması: @Model.Description </p>
                                    <p>Stok Adeti: @Model.Stock </p>
                                </span>
                            </p>
                        </div>

                        <div class="single-add-to-cart">
                            <form action="#" class="cart-quantity">
                                <div class="quantity">
                                    <label>Adet</label>
                                    <div class="cart-plus-minus">
                                        <input class="cart-plus-minus-box" value="1" type="text">
                                        <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                        <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                    </div>
                                </div>
                                <button class="add-to-cart" type="submit">Sepete Ekle</button>
                            </form>
                        </div>

                        
                        
                       
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
